@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crete+Round:ital@0;1&display=swap');

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.container {
  height: 500px;
  background: white;
  width: 375px;
  background-repeat: no-repeat;
  background-image:
    url(./images/Ellipse\ 8.png),
    url(./images/Rectangle\ 7.png),
    url(./images/Ellipse\ 3.png);
  background-position: center, left, right;
}

.circle {
  background-repeat: no-repeat;
  background-image:
    url(./images/Ellipse\ 11.png),
    url(./images/Rectangle\ 5.jpg);
  background-position: left, center;
  padding: 1em;
}

.toolbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.logo {
  color: #fff;
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  margin: 0 0 0 0.7em;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  cursor: pointer;
  padding: 0.5em;
}

.logo-txt {
  color: rgb(8, 8, 8);
  text-decoration: none;
}

.rec {
  background-image: url(./images/Ellipse\ 15.png);
}

.menu-image {
  cursor: pointer;
  padding: 1.3em;
}

.intro {
  width: 350px;
  height: 100px;
  left: 16px;
  top: 106px;
}

.intro h1 {
  font-size: 30px;
  font-family: sans-serif;
  font-style: normal;
  font-weight: 700;
  color: #1a2236;
  display: flex;
  align-items: center;
  padding: 0.5em 0 0 1em;
}

.summary {
  width: 440px;
  height: 170px;
  left: 16px;
  top: 100px;
}

.about-me {
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.01em;
  color: #272c36;
  margin-left: 20px;
  margin-top: 30px;
  margin-right: 10px;
}

.connect {
  color: rgb(146, 146, 224);
  margin-left: 20px;
  padding: 10px;
}

.column {
  float: left;
  width: 33;
  padding: 0.2em;
}

.btn {
  text-decoration: none;
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  font-size: normal;
  font-weight: 500;
  line-height: 24px;
  color: #6f7adf;
}

.btn:hover { opacity: 0.6; }

.row {
  padding: 10px;
}
